# Tuya IoT Cloud
TUYA_ACCESS_ID=ma5ksfr43em94aajf33g
TUYA_ACCESS_SECRET=2262ea3cb4804f05aa1e8458106aa716
TUYA_PROJECT_CODE=p1786450058332q43yq9
TUYA_DATA_CENTER=India

# ESP RainMaker
RAINMAKER_EMAIL=ramishtaha1@gmail.com
RAINMAKER_NODE_ID=6ZDdyawzC5NesD89k49T5u
RAINMAKER_PASSWORD=LsQX4@-Y5dOpx_a

# Device IDs
TUYA_DEVICE_IDS=
